* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: hsl(279, 19%, 79%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  gap: 1rem;
}
.box {
  background-color: rgb(83, 81, 81);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 2.5rem;
  border-radius: 15px;
  height: 90vh;
}

h1,
h2 {
  color: white;
  border-bottom: 5px solid #b28c52;
  border-radius: 10px;
  text-align: center;
}

input {
  text-align: center;
  border: 1px solid;
  border-radius: 15px;
  outline: none;
  font-size: 1.2rem;
}

.input-div {
  display: flex;
  justify-content: center;
}
#password {
  height: 8vh;
  width: 33vw;
  font-size: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.btn {
  width: 200px;
  height: 50px;
  font-size: 1.5rem;
  background-color: #b97feb;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
}
.btn:hover {
  background-color: burlywood;
  color: rgb(55, 52, 52);
}
.copy-success {
  text-align: center;
  color: #246854;
  margin: -1.5rem 0 -1.5rem;
  font-size: 1rem;
}

.copy-right {
  text-align: center;
  color: white;
}

.error-msg {
  text-align: center;
  color: whitesmoke;
}

@media screen and (max-width: 400px) {
  body {
    background-color: hsl(279, 19%, 79%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
  }

  .box {
    background-color: rgb(83, 81, 81);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    border-radius: 15px;
    width: 55vw;
    height: 70vh;
  }

  h1,
  h2 {
    color: white;
    border-bottom: 2px solid #b28c52;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
  }
  input {
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
  }
  #password {
    width: 40vw;
    height: 6vh;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .btn {
    width: 150px;
    height: 30px;
    font-size: 0.8rem;
    background-color: #b97feb;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
  }
  .btn:hover {
    background-color: burlywood;
    color: rgb(55, 52, 52);
  }

  .copy-success {
    text-align: center;
    color: #246854;
    font-size: 0.7rem;
  }

  .copy-right {
    text-align: center;
    color: white;
    font-size: 0.7rem;
  }

  .error-msg {
    text-align: center;
    color: white;
    font-size: 0.8rem;
  }
}
